<%= form_for @user do |f|%>
<span><%= @create_error%></span>
<table class="table table-striped table-dark">
        <tr>
          <td><%= f.label "First Name "%><font color="white">*</font></td>
          <td><%= f.text_field :fname%><span style="color:white;"><%= @user.errors[:fname][0] rescue nil%></span></td>
          <td><%= f.label "Last Name "%><font color="white">*</font></td>
          <td><%= f.text_field :lname%><span style="color:white;"><%= @user.errors[:lname][0] rescue nil%></span></td>
        </tr>
        <tr>
          <td><%= f.label "Date of Birth "%><font color="white">*</font></td>
          <td><%= f.date_field :dob, :max => Date.new(Date.today.year-18,Date.today.mon,Date.today.mday)%></td>
          <td><%= f.label "Date of Joining"%></td>
          <td><%= f.date_field :doj, :max => Date.today%></td>
        </tr>
        <tr>
            <td><%= f.label "Blood Type"%></td>
          <td><%= f.select :bloodtype, [['Blood Type',nil],'AB+','AB-','A+','A-','B+','B-','O+','O-']%></td>
          <td><%= f.label "Salary per annum"%></td>
          <td><%= f.number_field :sal, :min=>0%></td>
        </tr>
        <tr>
          <td><%= f.label "Contact "%><font color="white">*</font></td>
          <td><%= f.text_field :contact, :pattern=>'\d*', :maxlength=>10, :minlength=>10%></td>
          <td><%= f.label "Gender "%><font color="white">*</font></td>
          <td><%= f.select :gender, [['Gender',nil],'Male','Female','Other']%><%= @user.errors[:gender][0] rescue nil%></span></td>
        </tr>
        <tr>
          <td><%= f.label :address%></td>
          <td><%= f.text_area :address, :rows => 1%></td>
          <td><%= f.label :city%></td>
          <td><%= f.text_field :city%></td>
        </tr>
        <tr>
          <td><%= f.label :state%></td>
          <td><%= f.select :state, [['State',nil],'Andaman and Nicobar Islands','Andhra Pradesh','Arunachal Pradesh','Assam',
            'Bihar','Chandigarh','Chhattisgarh','Dadra and Nagar Haveli','Daman and Diu','Delhi','Goa','Gujarat','Haryana',
            'Himachal Pradesh','Jammu and Kashmir','Jharkhand','Karnataka','Kerala','Ladakh','Lakshadweep','Madhya Pradesh',
            'Maharashtra','Manipur','Meghalaya','Mizoram','Nagaland','Odisha','Puducherry','Punjab','Rajasthan','Sikkim','Tamil Nadu',
            'Telangana','Tripura','Uttar Pradesh','Uttarakhand','West Bengal']%></td>
          <td><%= f.label :country%></td>
          <td><%= f.select :country, [['Country',nil],'India']%></td>
        </tr>
        <tr>
          <td><%= f.label "Pincode"%></td>
          <td><%= f.text_field :pincode, :pattern=>'\d*', :maxlength=>6, :minlength=>6%></td>
          <td><%= f.label "Notice period in days"%></td>
          <td><%= f.number_field :notice, :min=>0%></td>
        </tr>
        <tr>
          <td><%= f.label "Emergency Contact Name "%><font color="white">*</font></td>
          <td><%= f.text_field :ename%><span style="color:white;"><%= @user.errors[:ename][0] rescue nil%></span></td>
          <td><%= f.label "Relation"%></td>
          <td><%= f.select :relation, [['Relation',nil],'Parent','Spouse','Friend','Others']%></td>
        </tr>
        <tr>
          <td><%= f.label "Emergency Contact Number "%><font color="white">*</font></td>
          <td><%= f.text_field :econtact, :pattern=>'\d*', :maxlength=>10, :minlength=>10%></td>
          <td><%= f.label "Primary Skill"%></td>
          <td><%= f.text_field :pskill%></td>
        </tr>
        <tr>
          <td><%= f.label "Secondary Skill 1"%></td>
          <td><%= f.text_field :sskill1%></td>
          <td><%= f.label "Secondary Skill 2"%></td>
          <td><%= f.text_field :sskill2%></td>
        </tr>
        <tr>
  <tr>
    <td colspan="4"><label><h3><b>LOGIN DETAILS</b></h3></label></td>
  </tr>
  <tr>
    <td><%= f.label "Email "%><font color="white">*</font></td>
    <td><%= f.email_field :email, :required=>true%><span><%= @user.errors[:email][0] rescue nil%></span></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><%= f.label "Password"%></td>
    <td><%= f.password_field :password, :minlength => 6%></td>
    <td><%= f.label "Confirm Password"%></td>
    <td><%= f.password_field :password_confirmation, :minlength => 6%></td>
  </tr>
  <tr>
    <td><%= f.submit%></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
<pre>
</pre>
<% end%>
